<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>Welcome</h1>
     	<a href="/joblist" >joblist</a>   
     	

<footer id="con2">
<div id="vv">

	<form align="center" th:action="@{/}">
		Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" required />
		&nbsp;
		<input type="submit" value="Search" />
		&nbsp;
		<input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
	</form>
	<br/><br/>
	
		<table align="center" border="1" cellpadding="10">
	
<div align="center" th:if="${totaljob > 1}">
		Total Job: [[${totaljob}]]
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
	
		<thead>
			<tr>
				<th>Application ID</th>
				<th>Jobdesignation</th>
				<th>Department</th>
				<th>Salary</th>
				<th>Location</th>
				<th>Noticepriod</th>	
				<th>Job Type</th>
				<th>Job Description</th>	
					
				
				<th>Share</th>				
			</tr>
		</thead>
		<tbody>
			<tr th:each="product : ${listProducts}">
				<td th:text="${product.applicationid}">Application ID</td>
				<td th:text="${product.jobdesignation}">jobdesignation</td>
				<td th:text="${product.department}">department</td>
				<td th:text="${product.salary}">salary</td>
				<td th:text="${product.location}">Location</td>
				<td th:text="${product.noticepriod}">notice priod</td>
				<td th:text="${product.jobtype}">jobtype</td>
				<td th:text="${product.jobdescription}">description</td>
				
				<td>

<div class="sharethis-inline-share-buttons"></div>

				</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	function clearSearch() {
		window.location = "[[@{/}]]";
	}
</script>


<br>
<div id="sf">


</div>
</footer>
          	

</body>
</html>